
<!-- HOME PAGE-->
  <section id="home" class="bg-black h-screen ">

    <!-- NAVBAR -->
    
    <nav class="fixed bg-red-600 w-full py-4 rounded-md shadow-lg">
      <div class="text-slate-300  md:flex md:justify-around ">
        <div class="text-3xl flex justify-center font-bold text-white ">Portfo<span class="text-black">lio.</span></div>
        <ul class=" md:flex md:align-middle">
          <a href="#home" class="cursor-pointer ml-6 text-black hover:text-white text-md transition-colors duration-500 ">Home</a>
          <a href="#about" class="ml-6 cursor-pointer text-black hover:text-white text-md transition-colors duration-500">About</a>
          <a href="#services" class="ml-6 cursor-pointer text-black hover:text-white text-md transition-colors duration-500">Services</a>
          <a href="#skills" class="ml-6 cursor-pointer text-black hover:text-white text-md transition-colors duration-500">Skills</a>
          <a href="#contact" class="ml-6 cursor-pointer text-black hover:text-white delay-150 transition-colors text-md  duration-500">Contacts</a>
        </ul>
  
      </div>
    </nav>
  
  <!-- HOME MAIN -->
  <div class="flex justify-center">   
    <div class="ml-28 mt-48  container text-white">
      <div class="text-2xl ">Hello, my name is</div>
      <div class="text-5xl mt-2 font-extrabold">Akshat Agrawal</div>
      <div class="text-2xl mt-3">And I'm a  <span class="typing text-red-600"></span>
      <!-- <span class="text-red-600">Web Developer</span> -->
     </div>
     <a href="#contact">

     <button class="py-3 px-6 mt-7 hover:scale-110  duration-500 transition-all   bg-red-600 hover:bg-black hover:text-red-600 rounded-md shadow-2xl text-white hover:text-red border-solid border-2 border-black m hover:border-red-600">Contact me</button>

     </a>
    </div>
   <div>
     <img src="man.jpeg" class="mt-28  w-max mr-96" alt="">
   </div>
  </div>
    
  </section>     