<!-- MY SERVICE PAGE -->


 <section id="services" class="bg-black h-screen">

  <div class="">
    <div class="pt-24">
      <div class="text-5xl text-center text-white font-old">My Services</div>
     <div class="text-center text-red-600 mt-1 text-2xl"><span class="text-white">----</span>what i provide<span class="text-white">----</span></div>
    </div>
    
    <div class="container  flex justify-around mt-14">

   <div style="" class="card bg-gray-800 hover:bg-cyan-800   text-white transition-all delay-150 rounded-lg h-64 w-64">
      <div class="transition-all delay-150 hover:scale-105 ">
      
     <i class="fa-solid fa-code flex justify-center text-4xl text-teal-500 mt-8"></i>
        <h1 class="text-2xl  text-center mt-2 ">Web Design</h1>
        <p class="mt-4  text-center">Lorem ipsum dolor sit amet consectetur, adipisicing elit. Rem quia sunt, quasi quo illo enim.</p>
      </div>
     </div>
  
    <div style="" class="card bg-gray-800 hover:bg-cyan-800   text-white transition-all delay-150 rounded-lg h-64 w-64">
      <div class="transition-all delay-150 hover:scale-105 ">
      
        <i class="fa-brands fa-node-js  flex justify-center text-4xl text-emerald-600 mt-8"></i>
        <h1 class="text-2xl  text-center mt-2 ">Dynamic Website</h1>
        <p class="mt-4  text-center">Lorem ipsum dolor sit amet consectetur, adipisicing elit. Rem quia sunt, quasi quo illo enim.</p>
      </div>
     
  </div>
      <div style="" class="card bg-gray-800 hover:bg-cyan-800   text-white transition-all delay-150 rounded-lg h-64 w-64">
      <div class="transition-all delay-150 hover:scale-105 ">
      
    <i class="fa-brands fa-android flex justify-center text-4xl text-green-500 mt-8"></i>
        <h1 class="text-2xl  text-center mt-2 ">Android Apps</h1>
        <p class="mt-4  text-center">Lorem ipsum dolor sit amet consectetur, adipisicing elit. Rem quia sunt, quasi quo illo enim.</p>
      </div>
     
  </div>
 
    </div>
    
  </div>

 </section>