
<!-- MY SKILL PAGE -->
 <section id="skills" class="bg-white pt-12 h-screen">
<!-- heading -->

  <div>
    <div class="text-4xl mt-12 text-center font-bold">My Skills</div>
    <div class="text-center text-red-600 mt-1 text-xl"><span class="text-black">---</span>what i provide<span class="text-black">---</span></div>
   
  
    
      <div class="flex justify-evenly mt-8">
        <div class="ml-12">
          <span class="font-bold text-4xl">My </span> <span class="font-bold text-red-600 text-3xl">Skills and experience</span> 
          <div class="mr-12  text-md leading-7 tracking-wide mt-4">
           Lorem ipsum dolor sit amet consectetur adipisicing elit. Quasi ut voluptatum eveniet doloremque autem excepturi eaque, sit laboriosam voluptatem nisi delectus. Facere explicabo hic minus accusamus alias fuga nihil dolorum quae. Explicabo illo unde, odio consequatur ipsam possimus veritatis, placeat, ab molestiae velit inventore exercitationem consequuntur blanditiis omnis beatae. Dolor iste excepturi ratione soluta quas culpa voluptatum repudiandae harum Lorem ipsum dolor sit, amet consectetur adipisicing elit. Omnis, 
           </div>
        </div>
       
    <!-- skillbar -->
  <section class="skillbar mr-8">
   
    <div class="skills-bar">
      <div class="bar">
        <div class="info">
          <span>HTML/CSS</span>
    </div>
    <div class="progress-line html"><span></span></div>
      </div>
    
    
    <div class="bar">
        <div class="info">
          <span>JAVASCRIPT</span>
    </div>
    <div class="progress-line javascript"><span></span></div>
      </div>
    
    
    <div class="bar">
        <div class="info">
          <span>React</span>
    </div>
    <div class="progress-line php"><span></span></div>
      </div>
    
    <div class="bar">
        <div class="info">
          <span>Express/Node</span>
    </div>
    <div class="progress-line mysql"><span></span></div>
      </div>
        
      
      <div class="bar">
        <div class="info">
          <span>MongoDB</span>
    </div>
    <div class="progress-line mysql"><span></span></div>
      </div>
        
    
    <div class="bar">
        <div class="info">
          <span>C++</span>
    </div>
    <div class="progress-line python"><span></span></div>
      </div>
    
    
    
  </section> 
      
    </div>



  
</section>
