<!doctype html>
<html class="scroll-smooth">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Akshat-Agrawal</title>
{{>links}}  
{{>style}}
</head>
<body class="">

{{>header}}
{{>about}}

{{>service}}

{{>skills}}
{{>contact}}

</body>




</script>
</html>